@import './utils/vars';

$portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

$transition-variable: 250ms cubic-bezier(0.4, 0, 0.2, 1);

body {
  background-color: $color-6;
  color: $color-5;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a.text:active,
a.text:hover,
a.text,
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.display-none {
  display: none;
}

.padding-res {
  padding: 0 0 0 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  height: 80px;
  border-bottom: 1px solid $color-9;
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  color: $color-3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-span--header {
  color: $color-2;
}

.logo-span--footer {
  color: $color-6;
}

.nav-menu {
  display: flex;
  gap: 50px;
  color: $color-2;
}

.nav-link {
  color: inherit;
  transition: color $transition-variable;
}

.nav-link:hover,
.nav-link:focus,
.nav-item--current {
  color: $color-3;
}

.nav-item {
  position: relative;
}

.nav-item--current::after {
  position: absolute;
  left: 0px;
  bottom: -32px;
  content: '';
  height: 4px;
  width: 100%;
  background: $color-3;
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
}

.contact-link--header {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color $transition-variable;
}

.contacts-list--header {
  display: flex;
  gap: 30px;
}

.contact-icon {
  fill: currentColor;
  transition: color $transition-variable;
}

.contact-link {
  color: currentColor;
  transition: color $transition-variable;
}

.contact-link--header:hover,
.contact-link--header:focus {
  color: $color-3;
}

.contact-location--footer {
  color: $color-6;
}

.contact-mail--footer,
.contact-tel--footer {
  color: $color-6-opacity;
}

.contact-link--footer:hover,
.contact-link--footer:focus {
  color: $color-3;
  fill: $color-3;
}

.logo-link--header,
.nav-link,
.contact-link--header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer {
  background-color: $color-4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-top: 9px;
  font-style: inherit;
}

.contacts-list--footer {
  display: flex;
  flex-direction: column;
  min-width: 232px;
  gap: 9px;
}

.subscribe {
  margin-left: 90px;
}

.subscribe-text {
  color: $color-6;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  width: 358px;
  border-radius: 4px;
  padding: 15px;
  color: $color-6;
  background-color: $color-4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  min-width: 200px;
  height: 50px;
  background-color: $color-3;
  color: $color-6;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color $transition-variable;
}

.subscribe-icon {
  fill: $color-6;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: $color-1;
}

.features-section,
.about-section,
.team-section,
.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title,
.section-subtitle,
.section-text {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title,
.section-subtitle {
  color: $color-2;
}

.section-text {
  color: $color-5;
}

.hero-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-section {
  height: 600px;
  padding-top: 200px;
  background-color: $color-8;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/imgHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-group {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-title {
  color: $color-6;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  margin-top: 30px;
  min-height: 50px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $color-3;
  color: $color-6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  transition: background-color $transition-variable;
}

.hero-button:hover,
.hero-button:focus {
  background-color: $color-1;
}

.features-section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-icon-bg {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: $color-11;
}

.features-title,
.about-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features-subtitle {
  margin-top: 30px;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.sociallink--footer {
  margin-left: 70px;
}

.sociallink-text--footer {
  margin-top: 10px;
  margin-bottom: 0;
  color: $color-6;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 10px;
}

.about-imagewrap {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.about-description {
  position: absolute;
  width: 100%;
  margin: 0 0 0 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: $color-4-opacity;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-6;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-section {
  background-color: $color-11;
}

.team-subtitle {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $color-6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.sociallink-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sociallink-list-team {
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.sociallink-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color $transition-variable;
}

.sociallink-link--footer {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.sociallink-icon {
  width: 20px;
  height: 20px;

  transition: fill $transition-variable;
}

.sociallink-icon-team {
  fill: $color-7;
}

.sociallink-icon--footer {
  fill: $color-6;
}

.sociallink-link:hover,
.sociallink-link:focus {
  background-color: $color-3;
}

.sociallink-link:hover .sociallink-icon,
.sociallink-link:focus .sociallink-icon {
  fill: $color-6;
}

.customers-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.customers-link {
  display: flex;
  width: 168px;
  height: 90px;
  border-radius: 4px;
  border: $color-7 1px solid;
  fill: $color-7;
  justify-content: center;
  align-items: center;

  transition: border-color $transition-variable, fill $transition-variable;
}

.customers-link:hover,
.customers-link:focus {
  border-color: $color-3;
  fill: $color-3;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-set-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-set-item {
  transition: box-shadow $transition-variable;
}

.portfolio-set-item:hover,
.portfolio-set-item:focus {
  box-shadow: $portfolio-card-shadow;
}

.portfolio-button {
  min-height: 28px;
  min-width: 64px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: $color-11;
  color: $color-2;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: background-color $transition-variable, color $transition-variable,
    box-shadow $transition-variable;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: $color-3;
  color: $color-6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform $transition-variable;
  overflow: auto;
}

.portfolio-overlay-text {
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  color: $color-6;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-description-group {
  border-bottom: 1px solid $color-10;
  border-left: 1px solid $color-10;
  border-right: 1px solid $color-10;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: $color-5;
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity $transition-variable;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: $color-6;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform $transition-variable;
}

.backdrop.is-hidden .modal-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  fill: $color-2;
}

.modal-close-button:hover .modal-close-icon {
  fill: $color-3;
  cursor: pointer;
}

.form {
  display: block;
  flex-direction: column;
}

.form-title {
  text-align: center;
  color: $color-2;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
}

.form-field {
  position: relative;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

.form-field--agreement {
  margin-top: 20px;
}

.form-input,
.form-textarea {
  margin-top: 4px;
  border-radius: 4px;
  color: $color-5;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border $transition-variable;
}

.form-input {
  height: 40px;
  padding-left: 42px;
}

.form-textarea {
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* .form-input:hover, */
/* .form-textarea:hover, */
.form-input:focus,
.form-textarea:focus {
  border: 1px solid $color-3;
  cursor: pointer;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: none;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $color-5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.agreement-label {
  display: inline-block;
  position: relative;
  padding-left: 38px;
}

.agreement-checkbox--hidden {
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-checkbox--svg {
  position: absolute;
  left: 14px;
  top: 5px;

  border: 1px solid $color-2;
  border-radius: 2px;
  fill: $color-6;
  transition: border-color $transition-variable, background-color $transition-variable;
}

.agreement-checkbox--hidden:checked + .agreement-checkbox--svg {
  background-color: $color-3;
  border-color: $color-3;
}

.agreement-link {
  color: $color-3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.form-button--submit {
  margin-top: 5px;
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: $color-3;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $color-6;

  cursor: pointer;
  transition: background-color $transition-variable;
}

.form-button--submit:hover,
.form-button--submit:focus {
  background-color: $color-1;
}
