@import './utils/variables';
@import './base/reset';
@import './base/common';
@import './base/container';
@import './base/sections';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/about';
@import './layout/team';
@import './layout/customers';
@import './layout/footer';

@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/sociallink';
@import './components/subscribe';

@import './components/callbackForm';

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: $color-6;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform $transition-variable;
}
