.customers__list {
  display: flex;
  gap: 30px;
}

.customers__link {
  width: 168px;
  height: 90px;
  border-radius: 4px;
  border: $color-7 1px solid;
  fill: $color-7;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color $transition-variable, fill $transition-variable;

  &:hover,
  &:focus {
    border-color: $color-3;
    fill: $color-3;
  }
}
