.features__section {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__icon-bg {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: $color-11;
  margin-bottom: 30px;
}

.features__subtitle {
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-top: 10px;
}
