.header__container {
  height: 80px;
  border-bottom: 1px solid $color-9;
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;
}

.header__logo {
  margin-right: 93px;
}
