.contacts__item {
  color: currentColor;
  transition: color $transition-variable;
}

.contact__icon {
  fill: currentColor;
  transition: fill $transition-variable;
}

.contact__link {
  transition: color $transition-variable;
}

.contacts__item:hover .contact__link,
.contacts__item:focus .contact__link {
  color: $color-3;
}

.contacts__list--header {
  display: flex;
  gap: 30px;
}

.contact__link--header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: currentColor;
}

.contact__link--header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts__list--footer {
  display: flex;
  flex-direction: column;
  min-width: 232px;
  gap: 4px;
}

.contact__location--footer {
  color: $color-6;
}

.contact__mail--footer,
.contact__tel--footer {
  color: $color-6-opacity;
}
