.contacts {
  &__item {
    color: currentColor;
    transition: color $transition-variable;
  }

  &__icon {
    fill: currentColor;
    transition: fill $transition-variable;
  }

  &__link {
    transition: color $transition-variable;
  }

  &__item:hover &__link,
  &__item:focus &__link {
    color: $color-3;
  }

  &__link--header {
    @include clickArea(24px);
    display: flex;
    align-items: center;
    gap: 10px;
    color: currentColor;
  }

  &__list--header {
    display: flex;
    gap: 30px;
  }

  &__list--footer {
    display: flex;
    flex-direction: column;
    min-width: 232px;
    gap: 4px;
  }

  &__location--footer {
    color: $color-6;
  }

  &__mail--footer,
  &__tel--footer {
    color: $color-6-opacity;
  }
}
