.form {
  display: block;
  flex-direction: column;

  &__title {
    display: inline-block;
    text-align: center;
    color: $color-2;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.15;
    margin-bottom: 12px;
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &__field--comments {
    margin-bottom: 20px;
  }

  &__field--agreement {
    margin-bottom: 13px;
  }

  &__input,
  &__textarea {
    border-radius: 4px;
    color: $color-5;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border $transition-variable;
  }

  &__input {
    height: 40px;
    padding-left: 42px;
  }
  &__input:focus {
    border: 1px solid $color-3;
    cursor: pointer;
  }

  &__input:focus-visible {
    outline: none;
  }

  &__textarea {
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__textarea::placeholder {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &__textarea:focus {
    border: 1px solid $color-3;
    cursor: pointer;
  }

  &__textarea:focus-visible {
    outline: none;
  }

  &__textarea &__input:focus,
  &__textarea:focus {
    border: 1px solid $color-3;
    cursor: pointer;
  }

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $color-5;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
  }

  &__button {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: $color-3;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: $box-shadow;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $color-6;

    cursor: pointer;
    transition: background-color $transition-variable;
  }

  &__button:hover,
  &__button:focus {
    background-color: $color-1;
  }
}
