.logo {
  color: $color-3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  &__link--header {
    @include clickArea(24px);
    margin-right: 93px;
  }

  &__link--footer {
    display: block;
    margin-bottom: 8px;
  }

  &__span--dark {
    color: $color-2;
  }

  &__span--light {
    color: $color-6;
  }
}
