.filter__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter__button {
  min-height: 28px;
  min-width: 64px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: $color-11;
  color: $color-2;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition: background-color $transition-variable, color $transition-variable,
    box-shadow $transition-variable;
}

.filter__button:hover,
.filter__button:focus {
  background-color: $color-3;
  color: $color-6;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
