.projects__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  transition: box-shadow $transition-variable;
}

.projects__item:hover,
.projects__item:focus {
  box-shadow: $portfolio-card-shadow;
}
