body {
  background-color: $color-6;
  color: $color-5;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__title,
.about__title,
.team__title,
.customers__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
