h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  pading: 0;
}

a.text:active,
a.text:hover,
a.text,
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.display-none {
  display: none;
}

.padding-res {
  padding: 0;
}
