.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
}

.section__title,
.section__subtitle {
  color: $color-2;
}

.section__text {
  color: $color-5;
}
