.navigation {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__menu {
  display: flex;
  gap: 50px;
  color: $color-2;
}

.navigation__link {
  color: inherit;
  transition: color $transition-variable;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__item--current {
  color: $color-3;
}

.navigation__item {
  position: relative;
}

.navigation__item--current::after {
  position: absolute;
  left: 0px;
  bottom: -32px;
  content: '';
  height: 4px;
  width: 100%;
  background: $color-3;
  border-radius: 2px;
}

.navigation__link {
  padding-top: 24px;
  padding-bottom: 24px;
}
